body {
	font-family: Montserrat;
	font-weight: 400;
	font-size: 15px;
}

.logo {
	height:60px;
}

nav a {
    color: #004892;
    font-size: 12px
}

nav a.selected {
    font-weight: 500;
    color: white;
    padding: 5px;
    background: #004892;
    border-radius: 4px;
}

.wrap {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.dots span.dot {
    width: 8px;
    height: 8px;
    margin-right: 4px;
    background: #004892;
    border-radius: 50%;
    display: inline-block;
}



.left-bar h4 {
    font-size: 26px;
    font-weight: 700;
    line-height: 33px;
}

.left-bar .description {
	font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    font-style: normal;
    margin-top: 10px;
    color: #084a90;
}



.btn-pink {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    background: #EC126D;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
}

.btn-pink:hover {
color: #fff;
    background: #BC0F62;
}

.left-bar .list-group-item {
	padding: .25rem 1.25rem .25rem 0;
	font-size: 12px;
}


.left-bar .list-group-item .btn-link {
	font-size: 14px;
	font-weight: 500;
}

.mt-7 {
    margin-top: 7rem !important;
}

.district_data .card-body {
    font-size: 13px;
}

.state_data {
    box-shadow: 0px 0px 5px #eee;
    border: 2px solid #ddd;
}

.addscroll{
    max-height: 600px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
    border:1px solid #ddd;
    border-top: none;
}

.districts_data {
        max-height: 600px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
    border:1px solid #ddd;
    padding: 10px
}




  .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }
