{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<!-- <section class="jumbotron text-center"> -->

	<div class="row">

		<h3><br/>{% trans "Thank You" %}!</h3>
		<p>
			<br/>
			{% trans "Thank you for your time and sharing this information with us. We will get in touch with you with resources/information on COVID-19 response as and when they come. In the mean time please access all available resources at"%} <a href="https://covidactioncollab.in/">covidactioncollab.in </a>

		
		</p>

	</div>


{% endblock %}




