{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-md-3 left-bar mt-5">
    <div class="dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
    <h4>Tools</h4>
    <p class="description">Our tools are free to be used, shared or reproduced with due acknowledgement.</p>
  </div>
  
  <div class="col-md-9 mt-5">

    <div class="row">
      <div class="col-sm-12 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Supplies Estimator</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="https://c19-supplies-estimator.netlify.com/" target="_blank" class="btn btn-pink">Go to the tool</a>
          </div>
        </div>
      </div>

      <div class="col-sm-12 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">NGO form for Community survellience</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/ngo/create" target="_blank"  class="btn btn-pink">Go to the form</a>
          </div>
        </div>
      </div>

      <div class="col-sm-12 mt-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Statewise NGO listing</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/ngo/details" target="_blank"  class="btn btn-pink">Go to the list</a>
          </div>
        </div>
      </div>

    </div>





  </div>
</div>

{% endblock %}