
{% extends 'base.html' %}
{% load static %}

{% block content %}

<link  rel="stylesheet" href="{% static 'webapp/css/leaflet.css' %}"/>

<!-- <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script> -->
<script type="text/javascript" src="{% static 'webapp/js/leaflet-src.js' %}"></script>


<style type="text/css">  
  #mapIndia1 { 
    margin: auto;
    height: 90vh; 
    width: 560px;
  }

</style>

<script type="text/javascript" src="{% static 'webapp/js/states.js' %}"></script>
<script type="text/javascript" src="{% static 'webapp/js/districts.js' %}"></script>

<script type="text/javascript">
  var states_geojson = [];
  var districts_geojson = {};
  var active_state_layer;
</script>
<!-- 
<div class="row">
  <div class="col-12 mt-3 mb-3">
    <h5 style="text-align: center;">State & District-wise data of NGOs</h5>
  </div>
</div> -->


<div class="row">

  <div class="col-md-3 left-bar">
    <div class="dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>
    <h5>State-wise NGO data</h5>
    <p class="description">Click on any state below to get its NGO data on the right side</p>


    <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <button class="btn" id="india_link" style="width: 100%;text-align: left;height: 40px" type="button" data-toggle="collapse" data-target="#collapse_india}" aria-expanded="true" aria-controls="collapse_india">
            <span class="btn-link">All India</span> <br/> 
          </button>
        </li>

      {% for key, value in all_data.items %}

        <li class="list-group-item">
          <button class="btn" id="statelink_{{forloop.counter}}" style="width: 100%;text-align: left;height: 40px" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
            <span class="btn-link">{{key|title}} ({{value.ngo_count}})</span> <br/> 
          </button>
        </li>

        <script type="text/javascript">
          states_geojson.push({"type":"Feature", "properties":{"ngo_count":{{value.ngo_count}}, "population_reach": {{value.population_reach}}, "staff_count": {{value.staff_count}}, "ST_NM":"{{key}}"}, "geometry":{"type":"MultiPolygon","coordinates":states["{{key}}"]}});

          $('#statelink_{{forloop.counter}}').bind("click", function() {
            onStateLinkClick("{{key}}", "collapse{{forloop.counter}}");
          })

          $('#india_link').bind("click", function() {
            onAllIndiaLinkClick();
            
          })
        </script>


      {% endfor %}
    </ul>
  </div>

  <div class="col-6 mt-7">
    <div id="mapIndia1"></div>
  </div>


  <div class="col-3 mt-7">
      {% for key, value in all_data.items %}
        <div class="collapse district_data" id="collapse{{forloop.counter}}">
            <div class="card card-body mb-4 state_data">
                <h6>{{key}}</h6> 
              Total NGOs: {{value.ngo_count}} <br/>
              Population reach: {{value.population_reach}} <br/> 
              Staff count: {{value.staff_count}} <br/>
              <!-- <a href="" class="btn-link"> See all NGOs in {{key}} </a> -->
            </div>
            <h6>&nbsp;District wise details</h6>

            <script type="text/javascript">
              districts_geojson["{{key}}"] = [];
            </script>

            {% for district in value.districts %}
            <div class="card card-body mb-2">
                <h6>{{district.0}}</h6> 
              Total NGOs: {{district.1}} <br/>
              Population reach: {{district.2}} <br/> 
              Staff count: {{district.3}} <br/>
              <!-- <a href="" class="btn-link"> See all NGOs in {{district.0}} </a> -->


            <script type="text/javascript">
              missing_districts = ["Bijapur(CGH)", "Gariaband", "Narayanpur", "Diu", "Central Delhi", "East Delhi", "New Delhi", "North Delhi", "North East Delhi", "North West Delhi", "South Delhi", "South West Delhi", "West Delhi", "Tapi", "Bandipur", "Kulgam", "Reasi", "Shopian", "Khunti", "Ramgarh", "Chikkaballapur", "Ramanagar", "Yadgir", "Lakshadweep", "Alirajpur", "Ashok Nagar", "Khandwa", "Khargone", "Singrauli", "Raigarh(MH)", "Kiphire", "Longleng", "Peren", "Barnala", "Fazilka", "Mohali", "Pathankot", "Rupnagar", "Tarn Taran", "East Sikkim", "Krishnagiri", "Bagpat", "Budaun"]

              if (!missing_districts.includes("{{district.0}}")){
                districts_geojson["{{key}}"].push({"type":"Feature", "properties":{"ngo_count":{{district.1}}, "DT_NM":"{{district.0}}"}, "geometry":{"type":"MultiPolygon","coordinates":[districts["{{district.0}}"]]}});
              }
            </script>

            </div>
            {% endfor %} 
        </div>
      
      {% endfor %}

  
  </div>
</div>


<script type="text/javascript" src="{% static 'webapp/js/map.js' %}"></script>


{% endblock %}