{% extends 'map.html' %}
{% load static %}

{% block content %}

<link  rel="stylesheet" href="{% static 'webapp/css/leaflet.css' %}"/>

<!-- <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script> -->
<script type="text/javascript" src="{% static 'webapp/js/leaflet-src.js' %}"></script>
<script type="text/javascript" src="{% static 'webapp/js/states.js' %}"></script>
<script type="text/javascript" src="{% static 'webapp/js/districts.js' %}"></script>

<script type="text/javascript">
  var states_geojson = [];
  var districts_geojson = {};
  var active_state_layer;
</script>


<div class="main grid grid-cols-3">
  <div class="border- grid-rows-3 left-sidebar overflow-hidden grid">
    <h2 class="text-l font-semibold px-2 py-4 border-b border-gray-300">NGO data</h2>
    <!-- <p class="description">Click on any state below to get its NGO data on the right side</p> -->

    <button class="w-full py-2 text-left px-2 text-sm" id="india_link" type="button" data-toggle="collapse" data-target="#collapse_india" aria-expanded="true" aria-controls="collapse_india">
      All India
    </button>

    <ul class="block h-full overflow-auto border-t border-gray-300">

      {% for key, value in all_data.items %}

        <li class="list-group-item pl-6 py-2">
          <button class="text-sm w-full text-left leading-loose py-1" id="statelink_{{forloop.counter}}" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
            </span>{{key|title}} ({{value.ngo_count}})
          </button>
        </li>

        <script type="text/javascript">
          states_geojson.push({"type":"Feature", "properties":{"ngo_count":{{value.ngo_count}}, "population_reach": {{value.population_reach}}, "staff_count": {{value.staff_count}}, "name":"{{key}}"}, "geometry":{"type":"MultiPolygon","coordinates":states["{{key}}"]}});

          $('#statelink_{{forloop.counter}}').bind("click", function() {
            onStateLinkClick("{{key}}", "collapse{{forloop.counter}}");
          })

          $('#india_link').bind("click", function() {
            onAllIndiaLinkClick();
            
          })
        </script>


      {% endfor %}
    </ul>
  </div>

  <div class="">
    <div id="mapIndia1"></div>
  </div>

  <div class="right-sidebar overflow-auto">
      {% for key, value in all_data.items %}
        <div class="district_data mb-16" id="collapse{{forloop.counter}}">
            <div class="text-sm p-4 mb-2 bg-gray-100 border-b border-t border-gray-400">
              <h6 class="font-semibold">{{key}}</h6>  
              Total NGOs: {{value.ngo_count}} <br/>
              Population reach: {{value.population_reach}} <br/> 
              Staff count: {{value.staff_count}} <br/>
              <!-- <a href="" class="btn-link"> See all NGOs in {{key}} </a> -->
            </div>
            <h6 class="font-semibold px-4 font-sm">District wise details</h6>

            <script type="text/javascript">
              districts_geojson["{{key}}"] = [];
            </script>

            <div class="districts_data">
              {% for district in value.districts %}

              <div class=" text-sm m-2 p-2 border border-gray-300">
                  <h6>{{district.0}}</h6> 
                Total NGOs: {{district.1}} <br/>
                Population reach: {{district.2}} <br/> 
                Staff count: {{district.3}} <br/>
                <!-- <a href="" class="btn-link"> See all NGOs in {{district.0}} </a> -->


              <script type="text/javascript">
                missing_districts = ["Bijapur(CGH)", "Gariaband", "Narayanpur", "Diu", "Central Delhi", "East Delhi", "New Delhi", "North Delhi", "North East Delhi", "North West Delhi", "South Delhi", "South West Delhi", "West Delhi", "Tapi", "Bandipur", "Kulgam", "Reasi", "Shopian", "Khunti", "Ramgarh", "Chikkaballapur", "Ramanagar", "Yadgir", "Lakshadweep", "Alirajpur", "Ashok Nagar", "Khandwa", "Khargone", "Singrauli", "Raigarh(MH)", "Kiphire", "Longleng", "Peren", "Barnala", "Fazilka", "Mohali", "Pathankot", "Rupnagar", "Tarn Taran", "East Sikkim", "Krishnagiri", "Bagpat", "Budaun"]

                if (!missing_districts.includes("{{district.0}}")){
                  districts_geojson["{{key}}"].push({"type":"Feature", "properties":{"ngo_count":{{district.1}}, "name":"{{district.0}}", "population_reach": {{district.2|default_if_none:0}}, "staff_count": {{district.3|default_if_none:0}}}, "geometry":{"type":"MultiPolygon","coordinates":[districts["{{district.0}}"]]}});
                }
              </script>

              </div>
              {% endfor %} 
            </div>
        </div>
      
      {% endfor %}

  
  </div>
</div>


<script type="text/javascript" src="{% static 'webapp/js/map1.js' %}"></script>


{% endblock %}