{% extends 'base.html' %}

{% block title %} COVID-19 NGO Collaboration Sign-up Form {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<!-- <section class="jumbotron text-center"> -->
<div class="row">
<div class="col-1"></div>
<div class="col-10">
	<div class="row">

		<h3><br/>COVID-19 NGO Collaboration Sign-up Form</h3>
		<p>
			<br/>

			Calling all non-profits and community-based organisations working directly with vulnerable communities to join this collaborative effort to fight COVID-19. We can REACH the UNREACHED.

			<br/><br/>
			COVID-19 has a serious impact on the health and livelihood of the communities you serve. The need of the hour is reliable data from the ground that supports the current relief activities, along with trusted, established channels that can relay critical information back to the communities (example community surveillance, testing and telephone counselling etc).If you are keen on action against COVID-19, please fill this form, takes 10 mins. Being part of this collaboration will not only provide you access to numerous resources in the form of tools, capacity building and joint efforts including fund raising. This collaborative is aimed at COVID response in communities - in partnerships with local governments. 
			<br/><br/>

			We want to hear from as many of you, so please disseminate widely among your networks.
			<br/><br/>

			<b>This form closes on 15th April 2020.</b>

			<br/><br/>	
		</p>
		<h5>Please fill the details below:</h5>
	</div>
	<!-- </section> -->

	<div class="row">
		
		
		<form method="post" novalidate>
			{% csrf_token %}
			{{ form|crispy }}
			<button type="submit" class="btn btn-success">Next</button>
		</form>
		<br/><br/>
	</div>

        </div>
        <div class="col-1"></div>
      </div>
{% endblock %}




